/*oguzhansengul.com*/

.rcSlider__arr:focus:after,.rcSlider__fullscreen-icon:focus:after,.rcSlider__html,.rcSlider__img,.rcSlider__nav__frame:focus .rcSlider__dot:after,.rcSlider__nav__frame:focus .rcSlider__thumb:after,.rcSlider__stage__frame,.rcSlider__stage__shaft,.rcSlider__video iframe
{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	right:0;
	left:0;
	bottom:0
}

.rcSlider--fullscreen,.rcSlider__img
{
	max-width:99999px!important;
	max-height:99999px!important;
	min-width:0!important;
	min-height:0!important;
	border-radius:0!important;
	box-shadow:none!important;
	padding:0!important
}

.rcSlider__wrap .rcSlider__grab
{
	cursor:move;
	cursor:-webkit-grab;
	cursor:-o-grab;
	cursor:-ms-grab;
	cursor:grab
}

.rcSlider__grabbing *
{
	cursor:move;
	cursor:-webkit-grabbing;
	cursor:-o-grabbing;
	cursor:-ms-grabbing;
	cursor:grabbing
}

.rcSlider__spinner
{
	position:absolute!important;
	top:50%!important;
	left:50%!important
}

.rcSlider__wrap--css3 .rcSlider__arr,.rcSlider__wrap--css3 .rcSlider__fullscreen-icon,.rcSlider__wrap--css3 .rcSlider__nav__shaft,.rcSlider__wrap--css3 .rcSlider__stage__shaft,.rcSlider__wrap--css3 .rcSlider__thumb-border,.rcSlider__wrap--css3 .rcSlider__video-close,.rcSlider__wrap--css3 .rcSlider__video-play
{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

.rcSlider__caption,.rcSlider__nav:after,.rcSlider__nav:before,.rcSlider__stage:after,.rcSlider__stage:before,.rcSlider__wrap--css3 .rcSlider__html,.rcSlider__wrap--css3 .rcSlider__nav,.rcSlider__wrap--css3 .rcSlider__spinner,.rcSlider__wrap--css3 .rcSlider__stage,.rcSlider__wrap--css3 .rcSlider__stage .rcSlider__img,.rcSlider__wrap--css3 .rcSlider__stage__frame
{
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}

.rcSlider__arr:focus,.rcSlider__fullscreen-icon:focus,.rcSlider__nav__frame
{
	outline:0
}

.rcSlider__arr:focus:after,.rcSlider__fullscreen-icon:focus:after,.rcSlider__nav__frame:focus .rcSlider__dot:after,.rcSlider__nav__frame:focus .rcSlider__thumb:after
{
	content:'';
	border-radius:inherit;
	background-color:rgba(0,175,234,.5)
}

.rcSlider__wrap--video .rcSlider__stage,.rcSlider__wrap--video .rcSlider__stage__frame--video,.rcSlider__wrap--video .rcSlider__stage__frame--video .rcSlider__html,.rcSlider__wrap--video .rcSlider__stage__frame--video .rcSlider__img,.rcSlider__wrap--video .rcSlider__stage__shaft
{
	-webkit-transform:none!important;
	transform:none!important
}

.rcSlider__wrap--css3 .rcSlider__nav__shaft,.rcSlider__wrap--css3 .rcSlider__stage__shaft,.rcSlider__wrap--css3 .rcSlider__thumb-border
{
	transition-property:-webkit-transform,width;
	transition-property:transform,width;
	transition-timing-function:cubic-bezier(0.1,0,.25,1);
	transition-duration:0
}

.rcSlider__arr,.rcSlider__fullscreen-icon,.rcSlider__no-select,.rcSlider__video-close,.rcSlider__video-play,.rcSlider__wrap
{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.rcSlider__select
{
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	user-select:text
}

.rcSlider__nav,.rcSlider__nav__frame
{
	margin:auto;
	padding:0
}

.rcSlider__caption__wrap,.rcSlider__nav__frame,.rcSlider__nav__shaft
{
	-moz-box-orient:vertical;
	display:inline-block;
	vertical-align:middle;
	*display:inline;
	*zoom:1
}

.rcSlider__nav__frame,.rcSlider__thumb-border
{
	box-sizing:content-box
}

.rcSlider__caption__wrap
{
	box-sizing:border-box
}

.rcSlider--hidden,.rcSlider__load
{
	position:absolute;
	left:-99999px;
	top:-99999px;
	z-index:-1
}

.rcSlider__arr,.rcSlider__fullscreen-icon,.rcSlider__nav,.rcSlider__nav__frame,.rcSlider__nav__shaft,.rcSlider__stage__frame,.rcSlider__stage__shaft,.rcSlider__video-close,.rcSlider__video-play
{
	-webkit-tap-highlight-color:transparent
}

.rcSlider__arr,.rcSlider__fullscreen-icon,.rcSlider__video-close,.rcSlider__video-play
{
	background:url(rcSlider.png) no-repeat
}

@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx) {
	.rcSlider__arr,.rcSlider__fullscreen-icon,.rcSlider__video-close,.rcSlider__video-play
	{
		background:url(rcSlider@2x.png) 0 0/96px 160px no-repeat
	}
}

.rcSlider__thumb
{
	background-color:#7f7f7f;
	background-color:rgba(127,127,127,.2)
}

.rcSlider__thumb-border {
border-radius: 50%;
}

@media print {
	.rcSlider__arr,.rcSlider__fullscreen-icon,.rcSlider__thumb-border,.rcSlider__video-close,.rcSlider__video-play
	{
		background:none!important
	}
}

.rcSlider
{
	min-width:1px;
	overflow:hidden
}

.rcSlider:not(.rcSlider--unobtrusive)>:not(:first-child)
{
	display:none
}

.fullscreen
{
	width:100%!important;
	height:100%!important;
	max-width:100%!important;
	max-height:100%!important;
	margin:0!important;
	padding:0!important;
	overflow:hidden!important;
	background:#000
}

.rcSlider--fullscreen
{
	position:absolute!important;
	top:0!important;
	left:0!important;
	right:0!important;
	bottom:0!important;
	float:none!important;
	z-index:2147483647!important;
	background:#000;
	width:100%!important;
	height:100%!important;
	margin:0!important
}

.rcSlider--fullscreen .rcSlider__nav,.rcSlider--fullscreen .rcSlider__stage
{
	background:#000
}

.rcSlider__wrap
{
	-webkit-text-size-adjust:100%;
	position:relative;
	direction:ltr;
	z-index:0
}

.rcSlider__wrap--rtl .rcSlider__stage__frame
{
	direction:rtl
}

.rcSlider__nav,.rcSlider__stage
{
	overflow:hidden;
	position:relative;
	max-width:100%
}

.rcSlider__wrap--pan-y
{
	-ms-touch-action:pan-y
}

.rcSlider__wrap .rcSlider__pointer
{
	cursor:pointer
}

.rcSlider__wrap--slide .rcSlider__stage__frame
{
	opacity:1!important
}

.rcSlider__stage__frame
{
	overflow:hidden
}

.rcSlider__stage__frame.rcSlider__active
{
	z-index:8
}

.rcSlider__wrap--fade .rcSlider__stage__frame
{
	display:none
}

.rcSlider__wrap--fade .rcSlider__fade-front,.rcSlider__wrap--fade .rcSlider__fade-rear,.rcSlider__wrap--fade .rcSlider__stage__frame.rcSlider__active
{
	display:block;
	left:0;
	top:0
}

.rcSlider__wrap--fade .rcSlider__fade-front
{
	z-index:8
}

.rcSlider__wrap--fade .rcSlider__fade-rear
{
	z-index:7
}

.rcSlider__wrap--fade .rcSlider__fade-rear.rcSlider__active
{
	z-index:9
}

.rcSlider__wrap--fade .rcSlider__stage .rcSlider__shadow
{
	display:none
}

.rcSlider__img
{
	-ms-filter:alpha(Opacity=0);
	filter:alpha(opacity=0);
	opacity:0;
	border:none!important
}

.rcSlider__error .rcSlider__img,.rcSlider__loaded .rcSlider__img
{
	-ms-filter:alpha(Opacity=100);
	filter:alpha(opacity=100);
	opacity:1
}

.rcSlider--fullscreen .rcSlider__loaded--full .rcSlider__img,.rcSlider__img--full
{
	display:none
}

.rcSlider--fullscreen .rcSlider__loaded--full .rcSlider__img--full
{
	display:block
}

.rcSlider__wrap--only-active .rcSlider__nav,.rcSlider__wrap--only-active .rcSlider__stage
{
	max-width:99999px!important
}

.rcSlider__wrap--only-active .rcSlider__stage__frame
{
	visibility:hidden
}

.rcSlider__wrap--only-active .rcSlider__stage__frame.rcSlider__active
{
	visibility:visible
}

.rcSlider__nav
{
	font-size:0;
	line-height:0;
	text-align:center;
	display:none;
	white-space:nowrap;
	z-index:5
}

.rcSlider__nav__shaft
{
	position:relative;
	left:0;
	top:0;
	text-align:left
}

.rcSlider__nav__frame
{
	position:relative;
	cursor:pointer
}

.rcSlider__nav--dots
{
	display:block
}

.rcSlider__nav--dots .rcSlider__nav__frame
{
	width:18px;
	height:30px
}

.rcSlider__nav--dots .rcSlider__nav__frame--thumb,.rcSlider__nav--dots .rcSlider__thumb-border
{
	display:none
}

.rcSlider__nav--thumbs
{
	display:block
}

.rcSlider__nav--thumbs .rcSlider__nav__frame
{
	padding-left:0!important
}

.rcSlider__nav--thumbs .rcSlider__nav__frame:last-child
{
	padding-right:0!important
}

.rcSlider__nav--thumbs .rcSlider__nav__frame--dot
{
	display:none
}

.rcSlider__dot
{
	display:block;
	width:4px;
	height:4px;
	position:relative;
	top:12px;
	left:6px;
	border-radius:6px;
	border:1px solid #7f7f7f
}

.rcSlider__nav__frame:focus .rcSlider__dot:after
{
	padding:1px;
	top:-1px;
	left:-1px
}

.rcSlider__nav__frame.rcSlider__active .rcSlider__dot
{
	width:0;
	height:0;
	border-width:3px
}

.rcSlider__nav__frame.rcSlider__active .rcSlider__dot:after
{
	padding:3px;
	top:-3px;
	left:-3px
}

.rcSlider__thumb
{
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%;
	border-radius: 50%;
}

.rcSlider__nav__frame:focus .rcSlider__thumb
{
	z-index:2
}

.rcSlider__thumb-border
{
	position:absolute;
	z-index:9;
	top:0;
	left:0;
	border-style:solid;
	border-color:#ff6600;
	background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))
}

.rcSlider__caption
{
	position:absolute;
	z-index:12;
	bottom:0;
	left:0;
	right:0;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:14px;
	line-height:1.5;
	color:#000
}

.rcSlider__caption a
{
	text-decoration:none;
	color:#000;
	border-bottom:1px solid;
	border-color:rgba(0,0,0,.5)
}

.rcSlider__caption a:hover
{
	color:#333;
	border-color:rgba(51,51,51,.5)
}

.rcSlider__wrap--rtl .rcSlider__caption
{
	left:auto;
	right:0
}

.rcSlider__wrap--no-captions .rcSlider__caption,.rcSlider__wrap--video .rcSlider__caption
{
	display:none
}

.rcSlider__caption__wrap
{
	background-color:#fff;
	background-color:rgba(255,255,255,.9);
	padding:5px 10px
}

@-webkit-keyframes spinner {
	0%
	{
		-webkit-transform:rotate(0);
		transform:rotate(0)
	}
	
	100%
	{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}

@keyframes spinner {
	0%
	{
		-webkit-transform:rotate(0);
		transform:rotate(0)
	}
	
	100%
	{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}

.rcSlider__wrap--css3 .rcSlider__spinner
{
	-webkit-animation:spinner 24s infinite linear;
	animation:spinner 24s infinite linear
}

.rcSlider__wrap--css3 .rcSlider__html,.rcSlider__wrap--css3 .rcSlider__stage .rcSlider__img
{
	transition-property:opacity;
	transition-timing-function:linear;
	transition-duration:.3s
}

.rcSlider__wrap--video .rcSlider__stage__frame--video .rcSlider__html,.rcSlider__wrap--video .rcSlider__stage__frame--video .rcSlider__img
{
	-ms-filter:alpha(Opacity=0);
	filter:alpha(opacity=0);
	opacity:0
}

.rcSlider__select
{
	cursor:auto
}

.rcSlider__video
{
	top:32px;
	right:0;
	bottom:0;
	left:0;
	position:absolute;
	z-index:10
}

.rcSlider__arr,.rcSlider__fullscreen-icon,.rcSlider__video-close,.rcSlider__video-play
{
	position:absolute;
	z-index:11;
	cursor:pointer
}

.rcSlider__arr
{
	position:absolute;
	width:32px;
	height:32px;
	top:50%;
	margin-top:-16px
}

.rcSlider__arr--prev
{
	left:2px;
	background-position:0 0
}

.rcSlider__arr--next
{
	right:2px;
	background-position:-32px 0
}

.rcSlider__arr--disabled
{
	pointer-events:none;
	cursor:default;
	*display:none;
	opacity:.1
}

.rcSlider__fullscreen-icon
{
	width:32px;
	height:32px;
	top:2px;
	right:2px;
	background-position:0 -32px;
	z-index:20
}

.rcSlider__arr:focus,.rcSlider__fullscreen-icon:focus
{
	border-radius:50%
}

.rcSlider--fullscreen .rcSlider__fullscreen-icon
{
	background-position:-32px -32px
}

.rcSlider__video-play
{
	width:96px;
	height:96px;
	left:50%;
	top:50%;
	margin-left:-48px;
	margin-top:-48px;
	background-position:0 -64px;
	opacity:0
}

.rcSlider__wrap--css2 .rcSlider__video-play,.rcSlider__wrap--video .rcSlider__stage .rcSlider__video-play
{
	display:none
}

.rcSlider__error .rcSlider__video-play,.rcSlider__loaded .rcSlider__video-play,.rcSlider__nav__frame .rcSlider__video-play
{
	opacity:1;
	display:block
}

.rcSlider__nav__frame .rcSlider__video-play
{
	width:32px;
	height:32px;
	margin-left:-16px;
	margin-top:-16px;
	background-position:-64px -32px
}

.rcSlider__video-close
{
	width:32px;
	height:32px;
	top:0;
	right:0;
	background-position:-64px 0;
	z-index:20;
	opacity:0
}

.rcSlider__wrap--css2 .rcSlider__video-close
{
	display:none
}

.rcSlider__wrap--css3 .rcSlider__video-close
{
	-webkit-transform:translate3d(32px,-32px,0);
	transform:translate3d(32px,-32px,0)
}

.rcSlider__wrap--video .rcSlider__video-close
{
	display:block;
	opacity:1
}

.rcSlider__wrap--css3.rcSlider__wrap--video .rcSlider__video-close
{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__arr,.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__fullscreen-icon
{
	opacity:0
}

.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__arr:focus,.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__fullscreen-icon:focus
{
	opacity:1
}

.rcSlider__wrap--video .rcSlider__arr,.rcSlider__wrap--video .rcSlider__fullscreen-icon
{
	opacity:0!important
}

.rcSlider__wrap--css2.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__arr,.rcSlider__wrap--css2.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__fullscreen-icon
{
	display:none
}

.rcSlider__wrap--css2.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__arr:focus,.rcSlider__wrap--css2.rcSlider__wrap--no-controls.rcSlider__wrap--toggle-arrows .rcSlider__fullscreen-icon:focus
{
	display:block
}

.rcSlider__wrap--css2.rcSlider__wrap--video .rcSlider__arr,.rcSlider__wrap--css2.rcSlider__wrap--video .rcSlider__fullscreen-icon
{
	display:none!important
}

.rcSlider__wrap--css3.rcSlider__wrap--no-controls.rcSlider__wrap--slide.rcSlider__wrap--toggle-arrows .rcSlider__fullscreen-icon:not(:focus)
{
	-webkit-transform:translate3d(32px,-32px,0);
	transform:translate3d(32px,-32px,0)
}

.rcSlider__wrap--css3.rcSlider__wrap--no-controls.rcSlider__wrap--slide.rcSlider__wrap--toggle-arrows .rcSlider__arr--prev:not(:focus)
{
	-webkit-transform:translate3d(-48px,0,0);
	transform:translate3d(-48px,0,0)
}

.rcSlider__wrap--css3.rcSlider__wrap--no-controls.rcSlider__wrap--slide.rcSlider__wrap--toggle-arrows .rcSlider__arr--next:not(:focus)
{
	-webkit-transform:translate3d(48px,0,0);
	transform:translate3d(48px,0,0)
}

.rcSlider__wrap--css3.rcSlider__wrap--video .rcSlider__fullscreen-icon
{
	-webkit-transform:translate3d(32px,-32px,0)!important;
	transform:translate3d(32px,-32px,0)!important
}

.rcSlider__wrap--css3.rcSlider__wrap--video .rcSlider__arr--prev
{
	-webkit-transform:translate3d(-48px,0,0)!important;
	transform:translate3d(-48px,0,0)!important
}

.rcSlider__wrap--css3.rcSlider__wrap--video .rcSlider__arr--next
{
	-webkit-transform:translate3d(48px,0,0)!important;
	transform:translate3d(48px,0,0)!important
}

.rcSlider__wrap--css3 .rcSlider__arr:not(:focus),.rcSlider__wrap--css3 .rcSlider__fullscreen-icon:not(:focus),.rcSlider__wrap--css3 .rcSlider__video-close:not(:focus),.rcSlider__wrap--css3 .rcSlider__video-play:not(:focus)
{
	transition-property:-webkit-transform,opacity;
	transition-property:transform,opacity;
	transition-duration:.3s
}

.rcSlider__nav:after,.rcSlider__nav:before,.rcSlider__stage:after,.rcSlider__stage:before
{
	content:"";
	display:block;
	position:absolute;
	text-decoration:none;
	top:0;
	bottom:0;
	width:10px;
	height:auto;
	z-index:10;
	pointer-events:none;
	background-repeat:no-repeat;
	background-size:1px 100%,5px 100%
}

.rcSlider__nav:before,.rcSlider__stage:before
{
	background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);
	background-position:0 0,0 0;
	left:-10px
}

.rcSlider__nav.rcSlider__shadows--left:before,.rcSlider__stage.rcSlider__shadows--left:before
{
	left:0
}

.rcSlider__nav:after,.rcSlider__stage:after
{
	background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);
	background-position:100% 0,100% 0;
	right:-10px
}

.rcSlider__nav.rcSlider__shadows--right:after,.rcSlider__stage.rcSlider__shadows--right:after
{
	right:0
}

.rcSlider--fullscreen .rcSlider__nav:after,.rcSlider--fullscreen .rcSlider__nav:before,.rcSlider--fullscreen .rcSlider__stage:after,.rcSlider--fullscreen .rcSlider__stage:before,.rcSlider__wrap--fade .rcSlider__stage:after,.rcSlider__wrap--fade .rcSlider__stage:before,.rcSlider__wrap--no-shadows .rcSlider__nav:after,.rcSlider__wrap--no-shadows .rcSlider__nav:before,.rcSlider__wrap--no-shadows .rcSlider__stage:after,.rcSlider__wrap--no-shadows .rcSlider__stage:before
{
	display:none
}


/*!
 * oguzhansengul.com
 */